body {
    margin: 0;
    padding: 0;
}

/* <!-- start navbar --> */

.navbar {
    height: 40vh; 
    width: 100%;
    background-image: url(../Bakery/images/drew-coffman-1872.jpg);
    background-position: center top 50%;
    background-size: cover;
    float: right;
    margin-top: 0;
    margin-right: 0;
    border-top: 13px;
    margin-bottom: 0; 
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin-right: 65px;
    margin-top: 40px;
    text-align: center;
    float: right;
}

.navbar li {
    display: inline;
    margin-right: 40px;
}

.navbar a {
    color: aliceblue;
}

.img {
    position: absolute;
    left: 70px;
    top: 0;
    width: 10%;
    margin: 25px;
}

.clear-fix {
    clear: both;
}

.header {
    margin: auto;
    padding: 180px;
    text-align: center;
    color: white;
}

.header h1 {
    margin-bottom: 10px;
    font-size: 34px;
    font-family: 'Alegreya', serif;

}
.header p
{

  display: inline-block;  
}

/* end navbar */

.contact
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.form
{
    overflow: hidden;

}

.form input
{
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: 30px;
}
.subject input
{
    width: 53%;
}

.Message input
{
    width: 53%;
    padding-bottom: 20%;
    display: block;
}
.Message button
{
    background-color: #8e7754;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10vh;



}

.Information
{
    width: 27%;
    float: right;
    margin-top: 20px;
}

.icon-environment,
.icon-clients,
.icon-media,
.icon-easy {
    content: "";
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: contain;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #8E7754;

    border: 1px solid rgb(142, 119, 84);
    vertical-align: middle;
    margin-bottom: 10px;
    margin-right: 0px;
}

.icon-environment {
    background-image: url(../Bakery/images/Icons/map.png);
}

.icon-clients {
    background-image: url(../Bakery/images/Icons/phone.png);
}

.icon-media {
    background-image: url(../Bakery/images/Icons/headphone.png);
}

.icon-easy {
    background-image: url(../Bakery/images/Icons/email.png);
}


.imge img
{
    margin-top: 40px;
    margin-bottom: 0px;
}

.all
{
margin-bottom: 15vh;
    background-color: #f8f8f8;
}
.last
{


width: 100%;
  background-color: #403d38;
  justify-content: space-between;
  display: flex;
  margin: auto;
  

}
.last-one
{
  width: 25%;
color: rgb(255, 255, 255);
font-size: 18px;
font-family: 'Alegreya', serif;
text-align: center;
}
.last-one h3
{
  color: 
  rgb(255, 255, 255);
  font-size: 25px;
}
.last-one p
{
  text-align: left;
  margin-left: 30px;
color: white; 
 font-size: 16px;

}
.mapouter {
    overflow: auto;
    background-color:#353330;
    width: 100%;
    text-align: center;
      display: flex;
     justify-content: center;
    align-items: center; 
} 
.fouad img {
    width: 353px;
    height: 96px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.fouad p
{
    
    size: 15px;
    color: rgb(119, 119, 119);
}

.social-icons
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0 10px;

  }
  
.facebook ,
.gmail,
.linked,
.twiter
    {
        content: "";
         display: inline-block;
         height: 40px; 
         width:40px; 
         background-image: url(../Bakery/images/Icons/facebook.png);
         background-color: #8E7754;
    
         background-size: contain;
         border-radius: 50%; 
         border: 1px solid rgb(142, 119, 84) ;
         vertical-align: middle;
      
  }
  .facebookt {
    background-image: url(../Bakery/images/Icons/facebook.png);
}

.gmail {
    background-image: url(../Bakery/images/Icons/google.png);
}

.linked {
    background-image: url(../Bakery/images/Icons/linkedin.png);
}

.twiter {
    background-image: url(../Bakery/images/Icons/twitter.png);
}